.home-max-width {
    max-width: 500px;
    margin: auto;
}

.mdl-layout__container {
	background-color: #263238;
	overflow-y: auto;
}

.mdl-card {
	min-height: inherit;
}

.mdl-card__actions {
	display: flex;
    justify-content: flex-end;
}

.mdl-switch {
	margin-right: 8px;
}

.flex-space {
	justify-content: space-between;
}

.light {
	color: #ffff;
}

.light svg {
	fill: #ffff;
}

.mdl-textfield {
	width: 30px;
	padding: 0;
}

.d-none {
	display: none;
}