[Unit]
Description=Comfort cloud app
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node /var/www/comfort/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target